body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

#add-new-fleet {
    text-align: center;
}

h1{
    text-align: center;
}

.headerTit {
    margin-top: 15px;
    font-weight: bold;
}

input.profile-input {
    display: block;
    margin: 15px 0 15px 0;
    width: 180px;
}

h5{
    text-align: center;
}

#tag-drivers {
    width: 60px;
}

#list-of-drivers {
    padding: 15px;
}

textarea{
    width: 165px;
}

.odd {
  color: red;
}
.even {
  color: blue;
}