{% extends 'logistics/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'logistics/css/style-driver-fleets.css' %}">
    <link rel="stylesheet" href="{% static 'logistics/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'logistics/themes/blue/style.css' %}">
{% endblock %}

{% block ng_app %}
    geo2logistics
{% endblock %}

{% block ng_controller %}
    createTrip
{% endblock %}

{% block page-title %}
    Driver fleets
{% endblock %}

{% block main-content %}

    <div class="row" id="more-info">
        <div class="col-sm-6">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Новый рейс</a></li>
                    <li><a href="#tab2" data-toggle="tab">Текущий рейс</a></li>
                    <li><a href="#tab3" data-toggle="tab">Мои рейсы</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="container" id="search-fleet-bar">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" id="add-driver-div" ng-controller="driverFleets">
                                        <label for="sel2"> Выберите автопарк: </label><br>
                                        <select name="singleSelect" ng-model="data.singleSelect" class="form-control" id="sel2" ng-init="showDriversFleets()">
                                            <option ng-repeat = "dfleet in dleets" ng-value="dfleet.id" >  {[{dfleet.name}]}    </option>
                                        </select><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="buttons">
                                    <button type="submit" class="btn btn-lg btn-primary" id="create-new-trip" data-toggle="modal" data-target="#createNewTrip">Создать поездку</button>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade" id="createNewTrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" ng-app="geo2logistics" ng-controller="createTrip">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Описание поездки</h4>
                                            </div>
                                            <div class="modal-body" >
                                                <div class="col-xs-6 col-md-4">
                                                    <p class="headerTit">Имя пассажира</p>
                                                    <p class="headerTit">Телефон пассажира</p>
                                                    <p class="headerTit">Откуда</p>
                                                    <p class="headerTit">Куда</p>
                                                    <p class="headerTit">Описание поездки</p>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <input ng-model="passenger_name" name="passenger_name" type="text" placeholder="" class="profile-input">
                                                    <input ng-model="passenger_phone" name="passenger_phone" type="tel" placeholder="" class="profile-input">
                                                    <input ng-model="start_position" name="start_position" type="text" placeholder="" class="profile-input">
                                                    <input ng-model="end_position" name="end_position" type="text" placeholder="" class="profile-input">
                                                    <input ng-model="description" name="description" type="text" placeholder="" class="profile-input">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="col-xs-6 col-md-4">
                                                    <div class="col">
                                                        <input class="btn btn-success" type="submit" value="Создать" ng-click="createTripClick()">
                                                    </div>
                                                </div>

                                                <div class="col-xs-8 col-md-6">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <h3>Выбор автопарка:</h3>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="selectpicker" multiple id="select-fleet">
                                        <option>Таксовичкофф</option>
                                        <option>ЯндексТакси</option>
                                        <option>Uber</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <form action="" class="search-form">
                                        <div class="form-group has-feedback">
                                            <label for="search" class="sr-only">Search</label>
                                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>

                        <div>
                            <table id="myTable" class="tablesorter" >
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>ID рейса</th>
                                    <th>Длительность</th>
                                    <th>Расстояние</th>
                                    <th>Описание маршрута</th>
                                    <th>Карта</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>05.09.1992</td>
                                    <td>123456</td>
                                    <td>15</td>
                                    <td>1500</td>
                                    <td>-</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>05.09.2212</td>
                                    <td>12233</td>
                                    <td>123</td>
                                    <td>131400</td>
                                    <td>-</td>
                                    <td>No</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="container" id="cur-trip">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="category">ID рейса</p>
                                    <p class="category">Дата</p>
                                    <p class="category">Маршрут</p>
                                    <p class="category">Длительность</p>
                                    <p class="category">Дальность</p>
                                </div>
                                <div class="col-md-8">
                                    <p>ABCDF</p>
                                    <p>02.01.2017 01:21</p>
                                    <p>no</p>
                                    <p>3:25</p>
                                    <p>105.21</p>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="buttons">
                                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Описание
                                        </button>
                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Описание маршрута</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Подробное описание...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="buttons" >
                                        <div class="row">
                                            <button class="btn btn-success btn-lg" id="close-trip">
                                                Завершить рейс
                                            </button>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#trouble">
                                            Сообщить о проблеме
                                        </button>
                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="trouble" tabindex="-1" role="dialog" aria-labelledby="troubleLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="troubleLabel">Описание проблемы</h4>
                                                </div>
                                                <div class="modal-body" id="body-trouble">
                                                    <div class="container" id="container-trouble">
                                                        <select class="selectpicker" multiple id="trouble-report-list">
                                                            <option>Авария</option>
                                                            <option>Ограбление</option>
                                                            <option>Иное</option>
                                                        </select>
                                                        <textarea rows="10" id="trouble-text">

                                                        </textarea>

                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <div class="row" id="trouble-buttons">
                                                        <div class="col-md-1">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отправить</button>

                                                        </div>
                                                        <div class="col-md-4">

                                                        </div>
                                                        <div class="col-md-4">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="container">
                            <div class="row" id="choose-category">
                                <div class="col-xs-6 col-sm-3">
                                    <p>Выбор автопарка</p>
                                    <p>Выбор рейса</p>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <select class="selectpicker" multiple id="my-trips">
                                        <option>Таксовичкофф</option>
                                        <option>ЯндексТакси</option>
                                        <option>Uber</option>
                                    </select>
                                    <form action="" class="search-form">
                                        <div class="form-group has-feedback">
                                            <label for="search" class="sr-only">Search</label>
                                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-6 col-sm-3"></div>
                                <div class="col-xs-6 col-sm-3"></div>
                            </div>

                            <div>
                                <table id="driver-fleets-table" class="tablesorter">
                                    <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>ID рейса</th>
                                        <th>Статус</th>
                                        <th>Описание маршрута</th>
                                        <th>Карта</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>05.09.1992</td>
                                        <td>123456</td>
                                        <td>Выполнен</td>
                                        <td>-</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>05.09.2212</td>
                                        <td>12233</td>
                                        <td>Не выполнен</td>
                                        <td>-</td>
                                        <td>No</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}
{% block script %}
    <script src="{% static 'logistics/js/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'logistics/js/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'logistics/js/controllers/DriverControllers.js' %}"></script>

{% endblock %}