{% extends 'logistics/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'logistics/css/style-driver-fleets.css' %}">
    <link rel="stylesheet" href="{% static 'logistics/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'logistics/themes/blue/style.css' %}">
{% endblock %}

{% block ng_app %}
    geo2logistics
{% endblock %}

{% block ng_controller %}
    driverFleets
{% endblock %}

{% block page-title %}
    Driver fleets
{% endblock %}

{% block main-content %}

    <div class="row" id="more-info">
        <div class="col-sm-6">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Новый рейс</a></li>
                    <li id="cur-trip-lili"><a id="cur-trip-li" href="#tab2" data-toggle="tab">Текущий рейс</a></li>
                    <li><a href="#tab3" data-toggle="tab">Мои рейсы</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="container" id="search-fleet-bar">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" id="add-driver-div">
                                        <label for="sel2"> Выберите автопарк: </label><br>
                                        <select ng-change="getTripsOld(data.singleSelect)" name="singleSelect" ng-model="data.singleSelect" class="form-control" id="sel2" ng-init="showDriversFleets()">
                                            <option ng-selected="" ng-value="-1">Все</option>
                                            <option ng-repeat = "dfleet in dfleets" ng-value="dfleet.id" >  {[{dfleet.name}]}    </option>
                                        </select><br>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Ожидают рассмотрения:</label>

                                        <table id="waitTable" class="table table-striped table-hover" >
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Название</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr id="scroll-table" ng-repeat="pend in pendings" ng-controller="driverFleets" ng-init="refreshPendings()">
                                                <td>{[{pend.id}]}</td>
                                                <td>{[{pend.name}]}</td>
                                                <td ng-click="acceptPending(pend.id)"><img class="clickable-img" src="{% static 'logistics/img/tick.png' %}" alt="take"></td>
                                                <td ng-click="declinePending(pend.id)"><img class="clickable-img" src="{% static 'logistics/img/dis.png' %}" alt="dismiss"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="buttons">
                                    <button type="submit" class="btn btn-lg btn-primary" id="create-new-trip" data-toggle="modal" data-target="#createNewTrip">Создать поездку</button>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade" id="createNewTrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" ng-controller="driverFleets">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Описание поездки</h4>
                                            </div>
                                            <div class="modal-body" >
                                                <div class="col-xs-6 col-md-4">
                                                    <p class="headerTit">Имя пассажира</p>
                                                    <p class="headerTit">Телефон пассажира</p>
                                                    <p class="headerTit">Откуда</p>
                                                    <p class="headerTit">Куда</p>
                                                    <p class="headerTit">Описание поездки</p>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <input ng-model="passenger_name" name="passenger_name" type="text" placeholder="" class="profile-input">
                                                    <input ng-model="passenger_phone" name="passenger_phone" type="tel" placeholder="" class="profile-input">
                                                    <input ng-model="start_position" name="start_position" type="text" placeholder="" class="profile-input">
                                                    <input ng-model="end_position" name="end_position" type="text" placeholder="" class="profile-input">
                                                    <input ng-model="description" name="description" type="text" placeholder="" class="profile-input">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="col-xs-6 col-md-4">
                                                    <div class="col">
                                                        <input class="btn btn-success" type="submit" value="Создать" ng-click="createTripClick()">
                                                    </div>
                                                </div>

                                                <div class="col-xs-8 col-md-6">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Выбор поездки:</h3>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="container">#}
                        {#                            <div class="row">#}
                        {#                                <div class="col-md-4">#}
                        {#                                    <form action="" class="search-form">#}
                        {#                                        <div class="form-group has-feedback">#}
                        {#                                            <label for="search" class="sr-only">Search</label>#}
                        {#                                            <input type="text" class="form-control" name="search" id="search" placeholder="search">#}
                        {#                                            <span class="glyphicon glyphicon-search form-control-feedback"></span>#}
                        {#                                        </div>#}
                        {#                                    </form>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <table id="myTable" class="tablesorter" ng-controller="driverFleets">
                                        <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>ID рейса</th>
                                            <th>Пункт A</th>
                                            <th>Пункт B</th>
                                            <th>Описание маршрута</th>
                                            <th>Карта</th>
                                            <th>Взять(тест)</th>
                                            <th>Взять</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="trip in trips">
                                            <td>{[{trip.start_date | date:'MM/dd/yyyy @ hh:mm'}]}</td>
                                            <td>{[{trip.id}]}</td>
                                            <td>{[{trip.start_position}]}</td>
                                            <td>{[{trip.end_position}]}</td>
                                            <td>{[{trip.description}]}</td>
                                            <td><a href="/map/"><img src="{% static 'logistics/img/map.png' %}" alt="map" height="35" width="auto"></a></td>
                                            <td ng-click="takeTrip(trip.id)"><img class="clickable-img" src="{% static 'logistics/img/tick.png' %}" alt="take"></td>

                                            <td ng-click="haveTrip()" data-toggle="modal" data-target="#takeTrip"><img class="clickable-img" src="{% static 'logistics/img/tick.png' %}" alt="take"></td>

                                            <!-- Modal -->
                                            <div class="modal fade" id="takeTrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body" style="height: 150px" >
                                                            <div class="col">
                                                                <p>Действительно ли вы хотите взять эту поездку? {[{trip.name}]}</p>
                                                                <button type="button" id="takeTrBut" class="btn btn-success" ng-click="takeTrip(trip.id)">Да</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </div>
                        </div>


                    </div>
                    <div class="tab-pane" id="tab2" ng-controller="driverFleets">
                        <div class="container" id="cur-trip" ng-init="getCurrentTrip()">
                            <div ng-if="currentTrip === null ">
                                <p ng-init="changeColor(0)">You have no current trip</p>
                            </div>
                            <div ng-if="currentTrip !== null ">
                                <div class="row" ng-init="changeColor(1)">
                                    <div class="col-md-2">
                                        <p class="category">ID рейса</p>
                                        <p class="category">Название</p>
                                        <p class="category">Дата начала</p>
                                        <p class="category">Точка A</p>
                                        <p class="category">Точка B</p>
                                        <p class="category">Описание</p>
                                        <div ng-if="currentTrip.problem != 1 ">
                                            <p class="category">Проблема</p>
                                            <p class="category">Описание проблемы</p>
                                        </div>
                                    </div>
                                    <div class="col-md-8" >
                                        <p>{[{currentTrip.id}]}</p>
                                        <p>{[{currentTrip.name}]}</p>
                                        <p>{[{currentTrip.start_date }]}</p>
                                        <p>{[{currentTrip.start_position}]}</p>
                                        <p>{[{currentTrip.end_position}]}</p>
                                        <p>{[{currentTrip.description}]}</p>
                                        <div ng-if="currentTrip.problem != 1 ">
                                            <p>{[{currentTrip.problem}]}</p>
                                            <p>{[{currentTrip.problem_description}]}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Button trigger modal -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="buttons">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                                Описание
                                            </button>
                                        </div>


                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Описание маршрута</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {[{currentTrip.description}]}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="buttons" >
                                            <div class="row">
                                                <button class="btn btn-success btn-lg" id="close-trip" ng-click="finishTrip()">
                                                    Завершить рейс
                                                </button>
                                            </div>
                                        </div>
                                        <div class="buttons">
                                            <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#trouble" NG-CLICK="reportTrip()">
                                                Сообщить о проблеме
                                            </button>
                                        </div>


                                        <!-- Modal -->
                                        <div class="modal fade" id="trouble" tabindex="-1" role="dialog" aria-labelledby="troubleLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content" ng-controller="driverFleets">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="troubleLabel">Описание проблемы</h4>
                                                    </div>
                                                    <div class="modal-body" id="body-trouble">
                                                        <div class="container" id="container-trouble" >
                                                            <div class="radio" ng-init="tripTrouble = 1">
                                                                <label><input ng-model="tripTrouble" value="1" type="radio" name="optradio">Устранена</label>
                                                            </div>
                                                            <div class="radio">
                                                                <label><input ng-model="tripTrouble" value="2" type="radio" name="optradio">Авария</label>
                                                            </div>
                                                            <div class="radio">
                                                                <label><input ng-model="tripTrouble" value="3" type="radio" name="optradio">Затор</label>
                                                            </div>
                                                            <div class="radio">
                                                                <label><input ng-model="tripTrouble" value="4" type="radio" name="optradio">Иное</label>
                                                            </div>
                                                            <textarea ng-model="troubleDesc" rows="10" id="trouble-text">

                                                            </textarea>

                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row" id="trouble-buttons">
                                                            <div class="col-md-1">
                                                                <button type="button" ng-click="reportTrip(tripTrouble, troubleDesc)" class="btn btn-danger" data-dismiss="modal">Отправить</button>

                                                            </div>
                                                            <div class="col-md-4">

                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="container">
                            <div class="row" id="choose-category">
                                <div class="col-xs-6 col-sm-3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4" id="add-driver-div">
                                                <label for="sel2"> Выберите автопарк: </label><br>
                                                <select ng-change="getFinishedTrips(data.getByFleet)" name="singleSelect" ng-model="data.getByFleet" class="form-control" id="sel2" >
                                                    <option ng-selected="" ng-value="-1">Все</option>
                                                    <option ng-repeat = "dfleet in dfleets" ng-value="dfleet.id" >  {[{dfleet.name}]}    </option>
                                                </select><br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3"></div>
                                <div class="col-xs-6 col-sm-3"></div>
                            </div>

                            <div>
                                <table id="driver-fleets-table" class="tablesorter">
                                    <thead>
                                    <tr>
                                        <th>ID рейса</th>
                                        <th>Дата завершения</th>
                                        <th>Статус завершения</th>
                                        <th>Начальная позиция</th>
                                        <th>Конечная позиция</th>
                                        <th>Детали</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="trip in finishedTrips">
                                        <td>{[{trip.name}]}</td>
                                        <td>{[{trip.end_date | date:'MM/dd/yyyy @ hh:mm'}]}</td>
                                        <td>{[{trip.is_finished ? 'Завершена' : 'В процессе'}]}</td>
                                        <td>{[{trip.start_position}]}</td>
                                        <td>{[{trip.end_position}]}</td>
                                        <td><a href="/map/"><img src="{% static 'logistics/img/taxi.png' %}" alt="map" height="35" width="auto"></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}
{% block script %}
    <script src="{% static 'logistics/js/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'logistics/js/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'logistics/js/controllers/DriverControllers.js' %}"></script>

{% endblock %}