{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Geo2Logistics</title>
    <link href="{% static 'logistics/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'logistics/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'logistics/css/font-awesome.css' %}">
  </head>
  <body>
  <div class="container">
    <form>
      <img src="{% static 'logistics/img/taxi.png' %}" alt="Taxi">
      <div class="form-input">
      <input type="text" name="username" placeholder="Enter username">
      </div>
      <div class="form-input">
        <input type="password" name="pass" placeholder="Enter password">
      </div>
      <input type="submit" name="sign-up" value="Sign Up" class="btn-login" id="sign-up">
      <input type="submit" name="sign-in" value="Sign In" class="btn-login" id="sign-in"> <br>
      <a href="#">Forgot password?</a>
    </form>
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{% static 'logistics/js/bootstrap.min.js' %}"></script>
  </body>
</html>