{% extends 'logistics/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'logistics/css/style-myFleets.css' %}">
    <link rel="stylesheet" href="{% static 'logistics/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'logistics/css/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block ng_app %}
    geo2logistics
{% endblock %}

{% block ng_controller %}
    GetOwnersFleetsController
{% endblock %}

{% block page-title %}
    My fleets
{% endblock %}


{% block main-content %}
    <div class="page-header" >
        <h1>Мои автопарки</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
{#                    <th>ID</th>#}
                    <th>Название</th>
                    <th>Количество машин</th>
                    <th>Количество поездок</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
                </thead>

                <tr ng-repeat="fleet in fleets">
{#                    <td><a ng-href="/fleet/{[{fleet.id}]}/">id{[{ fleet.id }]}</a></td>#}
                    <td><a ng-href="/fleet/{[{fleet.id}]}/">{[{ fleet.name }]}</a></td>
                    <td>{[{ fleet.cars_count }]}</td>
                    <td>{[{ fleet.trips_count }]} </td>
                    <td>{[{ fleet.creation_date | date:'MM/dd/yyyy @ hh:mm'}]}</td>
                    <td><span ng-controller="RemoveFleets" ng-click="fleet_delete(fleet.id)"><button class="btn btn-danger">Delete</button></span></td>
                </tr>

            </table>
        </div>
    </div>
    <div class="buttons">
        <button type="submit" class="btn btn-lg btn-primary" id="add-new-fleet" data-toggle="modal" data-target="#createNewFleet">Добавить новый</button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="createNewFleet" tabindex="-1" role="dialog" aria-labelledby="createNewFleetLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-app="geo2logistics" ng-controller="addNewFleet">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createNewFleetLabel">Создание нового автопарка</h4>
                </div>
{#                <form action="/api/fleet/add-fleet/" id="addForm" method="POST" >#}
                <div class="modal-body" id="body-createNewFleet">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="headerTit">Название</p>
                                    <p class="headerTit">Описание</p>
                                </div>
                                <div class="col-md-4">
                                    <input ng-model="newFleetName" name="name" type="text" placeholder="Название" class="profile-input">
                                    <textarea ng-model="newFleetDescription" name="description" placeholder="Описание" rows="4" id="textarea-description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
{#                                    <p class="headerTit">Пригласить</p>#}
                                </div>
                            </div>
                            <div class="row" id="list-of-drivers">
                                <div class="col-md-4">
{#                                    <input name="drivers" id="tag-drivers" type="text" value="Саша,Ваня,Петр,Николай,Иракл" data-role="tagsinput">#}
                                </div>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <div class="row" id="creation-buttons">
                        <div class="col-md-8">
                            <input ng-click="addNewFleetClick()" class="btn btn-lg btn-success" type="submit" value="Создать">
                        </div>
                    </div>
                </div>
{#                </form>#}
            </div>
        </div>
    </div>

    {#    #}
{% endblock %}


{% block script %}
    <script src="{% static 'logistics/js/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'logistics/js/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'logistics/js/controllers/OwnerControllers.js' %}"></script>

{% endblock %}

