{% extends 'logistics/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'logistics/css/style-owner-profile.css' %}">
{% endblock %}

{% block page-title %}
    Owner's profile
{% endblock %}

{% block main-content %}
    <div class="container">
        <div class="fieldWrapper">
            <form action="{% url 'registration' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <h3 id="mainTit">Регистрация</h3><br>
                    <p class="mainTit">
                        {% if error_reg %}
                            <br> <label> {{ error_reg }} </label>
                        {% endif %}</p>
                    <div class="col-xs-6 col-md-4">
                        <p class="headerTit">Логин</p>
                        <p class="headerTit">E-mail</p>
                        <p class="headerTit">Пароль</p>
                        <p class="headerTit">Статус</p>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="profile-input">{{ form.login }}</p>
                        <p class="profile-input">{{ form.email }}</p>
                        <p class="profile-input">{{ form.password }}</p>
                        <p class="profile-input">{{ form.role }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <p class="headerTit">Имя</p>
                        <p class="headerTit">Фамилия</p>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <p class="profile-input">{{ form.first_name }}</p>
                        <p class="profile-input">{{ form.last_name }}</p>
                    </div>
                </div>
                <div>
                    <input class="btn-login" type="submit" value="Sign Up" name="sign-up" id="sign-up">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'logistics/js/uploadFile.js' %}"></script>
{% endblock %}